@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/


@font-face {
  font-family: 'Gilroy-medium';
  src: url(/fonts/Gilroy-Medium.ttf), local('Gilroy-Medium'),
    url(/fonts/Gilroy-Medium.woff2) format('woff2'),
    url(/fonts/Gilroy-Medium.woff) format('woff'),
    url(/fonts/Gilroy-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-bold';
  src: url(/fonts/Gilroy-Bold.ttf), local('Gilroy-Bold'),
    url(/fonts/Gilroy-Bold.woff2) format('woff2'),
    url(/fonts/Gilroy-Bold.woff) format('woff'),
    url(/fonts/Gilroy-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

.container {
  max-width: 945px;
  margin: 0 auto;
}


/*------HEADER-------*/

.header-link {
  display: flex;
  justify-content: space-between;
  margin-top: 33px;
  border-bottom: 1px solid #828282;
}

.header-link-link {
  font-family: 'Gilroy-bold';
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 33px;

  color: #828282;
}

.header-link-link_active {
  font-family: 'Gilroy-bold';
  font-size: 18px;
  line-height: 22px;
  color: #070707;
}